.App {
  text-align: center;
  height: 600px;
  width: 700px;
  margin: 15vh auto;
}

.display .chain {
  background-color: grey;
  color: white;
  font-size: 25px;
  text-align: right;
  padding: 20px 38px;
  font-weight: bold;
}

.display .result {
  height: 30px;
  background-color: grey;
  color: white;
  font-size: 60px;
  text-align: right;
  padding: 38px;
  font-weight: bold;
}

.button-panel {
  height: 500px;
}

.row {
  display: flex;
  height: 100px;
  align-items: center;
}

.mdl-button {
  color: #6a6972;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  width: 25%;
  height: 100px;
  padding: 15px;
  font-size: 2rem;
  text-transform: none;
}
