.App {
  text-align: center;
  height: 600px;
  width: 400px;
  margin: 15vh auto;
}

.display {
  height: 18%;
}

.button-panel {
  height: 80%;
}

.row {
  display: flex;
  height: 20%;
  align-items: center;
}

.mdl-button {
  color: #6a6972;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 25%;
  height: 80px;
  margin: 0 2.5%;
  padding: 15px;
  font-size: 2rem;
  text-transform: none;
}
